@charset "UTF-8";

/*--------------------------------------------------
# 초기화
--------------------------------------------------*/
*, *::before, *::after {margin: 0;padding: 0;box-sizing: border-box;}
body, input, textarea, button, select {font-family: 'Noto Sans KR', sans-serif, 나눔고딕, 돋움, Dotum, 굴림, Gulim, 'Apple SD Gothic Neo'!important;}
button {background-color: transparent;border: 0;cursor: pointer;}
img {display: block;width: 100%;}
ul, ol, li {list-style: none;}
a {text-decoration: none;}

/*--------------------------------------------------
# 공통
--------------------------------------------------*/
.inner {width: 73.5rem;margin: 0 auto;}
.wrap {display: flex;flex-flow: row wrap;justify-content: space-between;}
@media screen and (max-width:75rem) {
  .inner {width: 100%;}
}

/*--------------------------------------------------
# 헤더
--------------------------------------------------*/
#header {position: fixed;width: 100%;height: 4.375rem;transition: .3s;z-index: 5;}
#header.on {background-color: #fff;box-shadow: 0 .125rem .5rem 0 rgb(50 50 50 / 8%);transition: .3s;}
#header .inner {align-items: center;height: 100%;}
#header .left .logo>a {color: #fff;}
#header.on .left .logo>a {color: #2C3E50;}
#header .right .menu-btn {display: none;width: 2rem;height: 2rem;fill: #fff;}
#header.on .right .menu-btn {fill: #2C3E50;}
#header .right .menu-wrap {display: flex;align-items: center;}
#header .right .menu-wrap>.menu {display: flex;}
#header .right .menu-wrap>.menu>li {padding: 0 3rem 0 0;}
#header .right .menu-wrap>.menu>li>a {color: #fff;}
#header.on .right .menu-wrap>.menu>li>a {color: #2C3E50;}
#header .right .menu-wrap>.resume {position: relative;display: flex;justify-content: center;align-items: center;width: 6.25rem;height: 2.5rem;border: .0625rem solid #fff;border-radius: .3125rem;color: #fff;overflow: hidden;}
#header.on .right .menu-wrap>.resume {border: .0625rem solid #2C3E50;color: #2C3E50;}
#header .right .menu-wrap>.resume:hover {background-color: #fff;color: #2C3E50!important;transition: .3s;}
#header.on .right .menu-wrap>.resume:hover {background-color: #2C3E50;color: #fff!important;}
#header .right .menu-wrap>.resume::after {content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #fff;transform: translateX(-101%);transition: .3s;z-index: -1;}
#header.on .right .menu-wrap>.resume::after {background-color: #2C3E50;}
#header .right .menu-wrap>.resume:hover::after {transform: translateX(0);}
@media screen and (max-width:75rem) {
  #header .inner {padding: 0 1.25rem;}
}
@media screen and (max-width:61.25rem) {
  #header .right .menu-btn {display: flex;}
  #header .right .menu-wrap {position: fixed;top: 0;right: 0;flex-direction: column;width: 15.625rem;height: 100vh;transform: translateX(100%);box-shadow: inset .3125rem 0rem .625rem -0.5625rem #000;}
  #header .right .menu-wrap>.menu {flex-direction: column;width: 100%;}
  #header .right .menu-wrap>.menu>li {height: 4.375rem;padding: 0;border-bottom: .0625rem solid #2c3e50;}
  #header .right .menu-wrap>.menu>li>a {display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;color: #2C3E50!important;}
  #header .right .menu-wrap>.resume {width: 14.375rem;margin-top: .625rem;border: .0625rem solid #2C3E50!important;color: #2C3E50!important;}
  #header .right .menu-wrap>.resume:hover {background-color: #2C3E50;color: #fff!important;}
  #header .right .menu-wrap>.resume::after {background-color: #2C3E50;}
}

/*--------------------------------------------------
# 메인 공통
--------------------------------------------------*/
#main section {padding: 6.25rem 0;}
#main section:first-child {padding: 0;}
#main .inner {display: flex;flex-direction: column;align-items: center;}
#main .title {display: inline-flex;border-bottom: .1875rem solid #2C3E50;color: #2C3E50;font-size: 2.5rem;}
#main .box-wrap {display: flex;width: 100%;margin-top: 3.125rem;}

/*--------------------------------------------------
# 메인 - 비주얼
--------------------------------------------------*/
#visual {width: 100%;height: 100vh;background-color: #2C3E50;}
#visual .inner {justify-content: center;height: 100%;}
#visual .title {margin-bottom: 2.375rem;border-bottom: 0;color: #fff;font-size: 3.75rem;font-weight: 100;text-align: center;}
#visual .text {position: relative;padding-top: 2.375rem;color: #fff;font-size: 2.5rem;font-weight: 100;}
#visual .text::before {content: '';position: absolute;top: 0;left: 50%;width: 6.25rem;height: .0625rem;background-color: #fff;transform: translateX(-50%);}
@media screen and (max-width:61.25rem) {
  #visual .title {font-size: 3.125rem;}
  #visual .text {font-size: 2.1875rem;}
}
@media screen and (max-width:48rem) {
  #visual .title {font-size: 2.5rem;}
  #visual .text {font-size: 1.875rem;}
}
@media screen and (max-width:30rem) {
  #visual .title {font-size: 1.875rem;}
  #visual .text {font-size: 1.25rem;}
}

/*--------------------------------------------------
# 메인 - ABOUT
--------------------------------------------------*/
#about .box-wrap .box {display: flex;flex-direction: column;width: 17.25rem;padding: 1.25rem 0;border-radius: .3125rem;text-align: center;box-shadow: 0 0 .3125rem 0 #bdc3c7;}
#about .box-wrap .box>.sub-title {color: #2C3E50;font-size: 1.25rem;}
#about .box-wrap .box>.sub-text {color: #333;}
@media screen and (max-width:75rem) {
  #about .box-wrap {padding: 0 1.25rem;}
  #about .box-wrap .box {width: 22.75%;}
}
@media screen and (max-width:48rem) {
  #about .box-wrap .box {width: 48.5%;margin-bottom: 3%;}
  #about .box-wrap .box:nth-child(n+3):nth-child(-n+4) {margin: 0;}
}
@media screen and (max-width:30rem) {
  #about .box-wrap .box {width: 100%;margin-bottom: 1.25rem;}
  #about .box-wrap .box:nth-child(n+3):nth-child(-n+4) {margin-bottom: 1.25rem;}
  #about .box-wrap .box:last-child {margin: 0!important;}
}

/*--------------------------------------------------
# 메인 - SKILL
--------------------------------------------------*/
#skill .box-wrap>.box {width: 36rem;margin-bottom: 1.5rem;padding: 1.25rem;border-radius: .3125rem;box-shadow: 0 0 .3125rem 0 #bdc3c7;}
#skill .box-wrap>.box:nth-child(n+7):nth-child(-n+8) {margin: 0;}
#skill .box-wrap>.box>.sub-title {margin-bottom: .3125rem;padding-bottom: .3125rem;border-bottom: .0625rem solid #2C3E50;color: #2C3E50;font-size: 1.25rem;}
#skill .box-wrap>.box>.sub-text {color: #333;}
@media screen and (max-width:75rem) {
  #skill .box-wrap {padding: 0 1.25rem;}
  #skill .box-wrap>.box {width: 48.5%;margin-bottom: 3%;}
}
@media screen and (max-width:40rem) {
  #skill .box-wrap>.box {width: 100%;margin-bottom: 1.25rem;}
  #skill .box-wrap>.box:nth-child(n+5):nth-child(-n+8) {margin-bottom: 1.25rem;}
  #skill .box-wrap>.box:last-child {margin: 0!important;}
}

/*--------------------------------------------------
# 메인 - STUDY
--------------------------------------------------*/
#studying .box-wrap .box {display: flex;justify-content: center;width: 23.5rem;padding: 1.25rem 0;border-radius: .3125rem;text-align: center;box-shadow: 0 0 .3125rem 0 #bdc3c7;}
#studying .box-wrap .box>.sub-title {color: #2C3E50;}
@media screen and (max-width:75rem) {
  #studying .box-wrap {padding: 0 1.25rem;}
  #studying .box-wrap .box {width: 31.3333%;}
}
@media screen and (max-width:48rem) {
  #studying .box-wrap .box {width: 100%;margin-bottom: 1.25rem;}
  #studying .box-wrap .box:last-child {margin: 0;}
}

/*--------------------------------------------------
# 메인 - PORTFOLIO
--------------------------------------------------*/
#portfolio .box-wrap .box {display: flex;flex-direction: column;width: 36rem;margin-bottom: 1.5rem;border-radius: .3125rem;text-align: center;box-shadow: 0 0 .3125rem 0 #bdc3c7;overflow: hidden;}
#portfolio .box-wrap .box:nth-child(n+3):nth-child(-n+4) {margin: 0;}
#portfolio .box-wrap .box>.pic {position: relative;display: flex;width: 100%;height: 18.75rem;background: no-repeat center;background-size: cover!important;}
#portfolio .box-wrap .box>.pic::before {content: '';position: absolute;top: .625rem;right: 3.75rem;display: flex;justify-content: center;align-items: center;width: 2.5rem;height: 2.5rem;background-color: rgba(0, 0, 0, .4);border-radius: .3125rem;color: #fff;}
#portfolio .box-wrap .box>.pic::after {content: 'All';position: absolute;top: .625rem;right: .625rem;display: flex;justify-content: center;align-items: center;width: 2.5rem;height: 2.5rem;background-color: rgba(0, 0, 0, .4);border-radius: .3125rem;color: #fff;}
#portfolio .box-wrap .box:nth-child(1)>.pic {background-image: url(../img/main.png);}
#portfolio .box-wrap .box:nth-child(2)>.pic {background-image: url(../img/laftel.png);}
#portfolio .box-wrap .box:nth-child(3)>.pic {background-image: url(../img/hhi.png);}
#portfolio .box-wrap .box:nth-child(4)>.pic {background-image: url(../img/kakao.png);}
#portfolio .box-wrap .box:nth-child(1)>.pic::before {content: '6일';}
#portfolio .box-wrap .box:nth-child(2)>.pic::before {content: '10일';width: 3.125rem;}
#portfolio .box-wrap .box:nth-child(3)>.pic::before {content: '6일';}
#portfolio .box-wrap .box:nth-child(4)>.pic::before {content: '5일';}
#portfolio .box-wrap .box:nth-child(4)>.pic::after {content: 'PC';}
#portfolio .box-wrap .box>.bar {display: flex;justify-content: space-between;align-items: center;padding: .625rem;}
#portfolio .box-wrap .box>.bar>.sub-title {color: #2C3E50;}
#portfolio .box-wrap .box>.bar>.btn-wrap {display: flex;align-self: stretch;}
#portfolio .box-wrap .box>.bar>.btn-wrap>.btn {position: relative;display: flex;justify-content: center;width: 100%;padding: .625rem 1.875rem;border: .0625rem solid #2C3E50;border-radius: .3125rem;color: #2C3E50;font-weight: bold;overflow: hidden;}
#portfolio .box-wrap .box>.bar>.btn-wrap>.btn:hover {background-color: #2C3E50;color: #fff;transition: .3s;}
#portfolio .box-wrap .box>.bar>.btn-wrap>.btn::after {content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background-color: #2C3E50;transform: translateX(-101%);transition: .3s;z-index: -1;}
#portfolio .box-wrap .box>.bar>.btn-wrap>.btn:hover::after {transform: translateX(0);}
#portfolio .box-wrap .box>.bar>.btn-wrap>.source {margin-right: .625rem;}
@media screen and (max-width:75rem) {
  #portfolio .box-wrap {padding: 0 1.25rem;}
  #portfolio .box-wrap .box {width: 48.5%;margin-bottom: 3%;}
  #portfolio .box-wrap .box>.pic {height: 25vw;}
}
@media screen and (max-width:61.25rem) {
  #portfolio .box-wrap .box>.bar {flex-direction: column;}
  #portfolio .box-wrap .box>.bar>.sub-title {margin-bottom: .625rem;}
}
@media screen and (max-width:48rem) {
  #portfolio .box-wrap .box {width: 100%;margin-bottom: 1.25rem;}
  #portfolio .box-wrap .box:nth-child(3) {margin-bottom: 1.25rem!important;}
  #portfolio .box-wrap .box>.pic {height: 42vw;}
}

/*--------------------------------------------------
# 푸터
--------------------------------------------------*/
#footer {width: 100%;padding: 1.875rem 0;background-color: #333;}
#footer .text,
#footer .copyright {color: #fff;font-size: .875rem;text-align: center;}